<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portal Escolar</title>
    <link rel="stylesheet" href="/css/index.css">

</head>
<body>

    <header>
        <nav class="navbar">
            <div class="logo">
                <img src="/images/logo.webp" alt="Logo da Escola CEM 09">
            </div>
            <div class="menu">
                <span class="menu-toggle" onclick="openSidebar()">&#9776; Menu</span>
            </div>
        </nav>
    </header>

    <!-- Sidebar -->
    <div id="sidebar">
        <a href="javascript:void(0)" onclick="closeSidebar()">&#10005; Fechar</a>
        <!-- links e verificação pra cargos -->
        <% if (session && session.user) { %>
            <a href="/perfil">Perfil</a>
            
            <% if (session.user.cargo === 'direcao') { %>
                <a href="/admin">Administração</a>
                <a href="/cadastro">Cadastrar Usuário</a>
            <% } %>

            <% if (session.user.cargo === 'professor') { %>
                <a href="/professor">Gerenciar Notas</a>
                <a href="/comentarios">Comentários</a>
            <% } %>

            <% if (session.user.cargo === 'aluno') { %>
                <a href="/notas">Minhas Notas</a>
                <a href="/eventos">Eventos</a>
            <% } %>

            <a href="/logout">Logout</a>
        <% } else { %>
            <a href="/login">Login</a>
            <a href="/Cadastro">Cadastro</a>
        <% } %>
    </div>

    <main>
        <h1>Bem-vindo :D</h1>
        <p>textinho para apresentação</p>

        <!-- Seção de notícias -->
        <div class="news-section">
            <div class="news-item">
                <h3>Notícia 1</h3>
                <p>pipipipopopo</p>
            </div>
            <div class="news-item">
                <h3>Notícia 2</h3>
                <p>pipipipopopo</p>
            </div>
            <div class="news-item">
                <h3>Notícia 3</h3>
                <p>pipipipopopo</p>
            </div>
        </div>
    </main>

    <script>
        function openSidebar() {
            document.getElementById("sidebar").style.width = "250px";
        }

        function closeSidebar() {
            document.getElementById("sidebar").style.width = "0";
        }
    </script>

</body>
</html>
